<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Update person</title>
</head>
<link rel="icon" href="data:,">
<body>

<form th:method="PATCH" th:action="@{/{id}(id=${users.getId()})}" th:object="${users}">

  <label for="name" >Enter name: </label>
  <input type="text" th:field="*{name}" id="name">
  <br/>

  <label for="email" >Enter email: </label>
  <input type="text" th:field="*{email}" id="email">
  <br/>

  <input type="submit" value="Update!">
</form>

</body>
</html>